form {
    margin: 20px auto;
  }
  
  .users {
    display: flex;
    flex-wrap: wrap;
  }
  
  .user {
    flex-basis: 200px;
    background: #efefef;
    margin: 5px;
    padding: 5px;
    position: relative;
  }
  
  .user__remove {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background: none;
    font-weight: bold;
    cursor: pointer;
  }
  .user__remove:hover {
    background: #fdfdfd;
  }