form {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding: 16px;
    justify-content: center;
    align-items: center;
  }

  label {
      padding-top: 15px;
      font-size: 1.3rem;
  }

  #create {
      margin-top:  20px;
      width: 150px;
      height: 30px;
      background-color: darkgoldenrod;
      border-radius: 5px;
      font-size: 1.3rem;
  }
  
  .users {
    display: flex;
    flex-wrap: wrap;
  }
  
h4, h5 {
    text-align: center;
    font-size: 1.3rem;
}

  .user {
    flex-basis: 200px;
    background: #efefef;
    margin: 5px;
    padding: 5px; 
  }
  
  .user_remove { 
    margin-left: 70px;
    border-radius: 4px;
    background: lightgreen;
    font-weight: bold;
    cursor: pointer;
=
    
  }
  .user_remove:hover {
    background: gray;
  }